<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", {title: "Crear Producto"}) %>
</head>

<body>
    <%- include("./partials/header") %>
        <main>
            <form class="editp-formCreate" id="formulario" action="/products/create" method="POST" enctype="multipart/form-data"> 
                <h2 class="editp-tituloCreate">Crear producto</h2>
                <div class="editp-main-div">
                    <ul class="editp-ul">
                        <li class="editp-label">
                            <label for="name">Nombre</label>
                        </li>
                        <li>
                            <input class="editp-input" id="nombreReg" type="text" name="name" placeholder="Ej: El visitante"
                            value="<%=locals.oldData ? oldData.name : null %>">
                            <div class="errorNombre"></div>
                            <% if(locals.errors && errors.name)  { %>
                                <div>
                                    <%= errors.name.msg %> 
                                </div>
                            <% } %>
                        </li>
                        <li class="editp-label">
                            <label for="description">Descripción</label>
                        </li>
                        <li>
                            <textarea class="editp-input" id="descripcion" name="description" value="<%=locals.oldData ? oldData.description : null %>"
                            placeholder="Jamie Conklin, el único hijo de una madre soltera, solo quiere tener una infancia normal..."></textarea>
                            <div class="errorDescripcion"></div>
                            <% if(locals.errors && errors.description)  { %>
                                <div>
                                    <%= errors.description.msg %>
                                </div> 
                            <% } %>
                        </li>
                        <li class="editp-label editp-cambiar-imagen">
                            <label  id="imagen" for="imageCrEdit">Seleccionar imágenes</label>
                            <div class="errorImage"></div>
                            <input class="cr-fotoCreate" type="file" name="image" id="imageCrEdit" value="<%=locals.oldData ? oldData.image : null %>"> 
                            <% if(locals.errors && errors.image){%>
                                <div>
                                    <%= errors.image.msg%>
                                </div>  
                            <% } %>
                           
                            
                        </li> 
                        <li class="editp-label">
                            <label for="genre">Género</label>
                        </li>
                        <li>
                            <select class="editp-input" id="genre" name="genre"
                                value="<%=locals.oldData ? oldData.genre : null %>">
                                <div class="errorGenre"></div>
                                <option value="3">Suspenso</option>
                                <option value="2">Terror</option>
                                <option value="1">Fantasía</option>
                            </select> 
                            <% if(locals.errors && errors.genre){%>
                                <div>
                                    <%= errors.genre.msg%>
                                </div>  
                            <% } %>
                        </li>
                        <li class="editp-label">
                            <label for="price">Precio</label>
                        </li>
                        <li>
                            <input class="editp-input" id="precio" type="text" name="price" placeholder="Ej: $2000"
                            value="<%=locals.oldData ? oldData.price : null %>">
                            <div class="errorPrecio"></div>
                            <% if(locals.errors && errors.price)  { %>
                                <div>
                                    <%= errors.price.msg %>
                                </div> 
                            <% } %> 
                        </li>
                        <li class="editp-label">
                            <label for="discount">Descuento</label>
                        </li>
                        <li>
                            <input class="editp-input" type="text" id="descuento" name="discount" placeholder="Ej: 40%" value="<%=locals.oldData ? oldData.discount : null %>">
                            <div class="errorDescuento"></div>
                            <% if(locals.errors && errors.discount)  { %>
                                <div>
                                    <%= errors.discount.msg %>
                                </div> 
                            <% } %> 
                        </li>
                    </ul>
                </div>
                <div>
                    <button class="editp-botónCreate" type="submit">
                        Crear
                    </button>
                </div>
            </form>
        </main>
        <%- include("./partials/footer") %>
        <script src="/js/productCreateFront.js"></script>
    </body>
</html>