<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head", {title : productToEdit.name + " - SK Libros"}) %>
    </head>
    <body>
        <%- include("./partials/header") %>
        <form class="editp-formCreate" action="/products/edit/<%=productToEdit.id%>?_method=PATCH" method="POST" enctype="multipart/form-data"> 
            <h2 class="editp-tituloCreate">Estas editando el producto: <%= productToEdit.name%> </h2>
            <div class="editp-main-div">
                <ul class="editp-ul">
                    <li class="editp-label">
                        <label for="nombreProducto">Nombre</label>
                    </li>
                    <li>
                        <input class="editp-input" type="text" name="nombreProducto" placeholder= "<%=productToEdit.name%>">
                    </li>
                    <li class="editp-label">
                        <label for="descripcion">Descripción</label>
                    </li>
                    <li>
                        <textarea class="editp-input" name="despripcion" placeholder="<%=productToEdit.description%>"></textarea>
                    </li>
                    <li class="editp-label editp-cambiar-imagen">
                        <label for="image" class="editp-input">Cambiar Imagen</label>
                    </li>
                    <li>
                        <input class="editp-input" type="file" name="foto" id="image">
                    </li>
                    <li class="editp-label">
                        <label for="categoria">Género</label>
                    </li>
                    <li>
                        <select class="editp-input" name="categoria">
                            <option value="Suspenso">Suspenso</option>
                            <option value="Terror">Terror</option>
                            <option value="Ciencia Ficción">Ciencia Ficción</option>
                        </select>
                    </li>
                    <li class="editp-label">
                        <label for="editp-precio">Precio</label>
                    </li>
                    <li>
                        <input class="editp-input" type="text" name="precio" placeholder="$<%=productToEdit.price%>">
                    </li>
                    <li class="editp-label">
                        <label for="discount">Descuento</label>
                    </li>
                    <li>
                        <input class="editp-input" type="text" name="discount" placeholder="Ej: 40%">
                    </li>
                </ul>    
            </div>
            <div >
                <button class="editp-botónCreate" type="submit">Editar</button>
            </div>
        </form>
        <%- include("./partials/footer") %>
    </body>
</html>